* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-header-container .nav-link{
  color:#fff;
}

.navbar-header-container .navbar-nav .nav-link.active,
.navbar-header-container .navbar-nav .nav-link.show {
    color: rgb(255 135 135);
}



.navbar-header-container .navbar-brand {
    font-size: 2rem;
    color: rgb(255 255 255);
    text-decoration: none;
    white-space: nowrap;
}

.weather-contain{
  padding:0 16px;
}
.weather-contain .col-md-4{
   padding:0;
}
.weather-contain .col-md-4:nth-child(3n-1){
   padding:0 16px;
}